<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Proyecto - Covid19 over the world</title>
</head>


<body>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="img-fluid" src="C:\Users\pab_r\OneDrive\Documentos\GitHub\Project_Python_Developer\media\inove_image.png" alt='Error' width="150" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Data Base</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/create_table">Delete and Create Table</a></li>
                            <li><a class="dropdown-item" href="/actualise_table">Actualise Table</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.argentina.gob.ar/salud/coronavirus-COVID-19">Ministerio de Salud ARG</a>
                    </li>   
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Google Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    
    <!-- Main Title -->
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <h1 class="display-4 font-italic text-center">Proyecto Final Programador Python</h1>
        <p class="lead my-3 text-center">En la presente website se visualizaran diversos graficos extraidos desde un json por una web oficial de la Union Europea sobre el avance del Covid-19 a lo largo del mundo.</p>
    </div>

    <!-- START THE FEATURETTES -->
    <div>
        <!-- First dividing line -->        
        <hr class="featurette-divider"> 
        <div class="row featurette">
            <div class="col-md-6 px-5">
                <h2 class="featurette-heading">Contagios Globales: <span class="text-muted">Por Continente</span></h2>
                <p class="lead">Grafico de barra que muestra el avance de casos de contagio total en el mundo por contiente.</p>
                <a type="button" class="btn btn-primary" href="#">Actualise</a>
            </div>
            <div class="col-md-5">
                <img src="https://ep01.epimg.net/elpais/imagenes/2020/12/31/album/1609428519_164409_1609506225_noticia_normal.jpg" alt="" width="500" height="300">
            </div>
        </div>
        
        <!-- Second dividing line -->
        <hr class="featurette-divider"> 
        <div class="row featurette">
            <div class="col-md-6 px-5">
                <h2 class="featurette-heading">Muertes Globales: <span class="text-muted">Por Continente</span></h2>
                <p class="lead">Grafico de barra que muestra el avance de casos de muertes total en el mundo por contiente.</p>
                <a type="button" class="btn btn-primary" href="#">Actualise</a>
            </div>
            <div class="col-md-5">
                <img src="https://ep01.epimg.net/elpais/imagenes/2020/12/31/album/1609428519_164409_1609506225_noticia_normal.jpg" alt="" width="500" height="300">
            </div>
        </div>
        
        <!-- Third dividing line -->
        <hr class="featurette-divider"> 
        <div class="row featurette">
            <div class="col-md-6 px-5">
                <h2 class="featurette-heading">Tabla Top 10: <span class="text-muted">Contagios por Pais</span></h2>
                <p class="lead">Tabla donde muestra el top 10 de los paises en el mundo que la peor situacion de contagios por pais.</p>
                <a type="button" class="btn btn-primary" href="#">Actualise</a>
            </div>
            <div class="col-md-5">
                <img src="https://ep01.epimg.net/elpais/imagenes/2020/12/31/album/1609428519_164409_1609506225_noticia_normal.jpg" alt="" width="500" height="300">
            </div>
        </div>

        <!-- Fourth dividing line -->
        <hr class="featurette-divider"> 
        <div class="row featurette">
            <div class="col-md-6 px-5">
                <h2 class="featurette-heading">Tabla Top 10: <span class="text-muted">Muertes por Pais.</span></h2>
                <p class="lead">Tabla donde muestra el top 10 de los paises en el mundo con la peor situacion de muertes por pais.</p>
                <a type="button" class="btn btn-primary" href="#">Actualise</a>
            </div>
            <div class="col-md-5">
                <img src="https://ep01.epimg.net/elpais/imagenes/2020/12/31/album/1609428519_164409_1609506225_noticia_normal.jpg" alt="" width="500" height="300">
            </div>
        </div>
        
        <!-- Fifth dividing line -->
        <hr class="featurette-divider"> 
        <div class="row featurette">
            <div class="col-md-6 px-5">
                <h2 class="featurette-heading">Avance de casos: <span class="text-muted">Por Contienente.</span></h2>
                <p class="lead">Grafico de linea temporal (semanal) que muestra el avance de casos de contagio total en el mundo por contienente.</p>
                <a type="button" class="btn btn-primary" href="#">Actualise</a>
            </div>
            <div class="col-md-5">
                <img src="https://ep01.epimg.net/elpais/imagenes/2020/12/31/album/1609428519_164409_1609506225_noticia_normal.jpg" alt="" width="500" height="300">
            </div>
        </div>
        
        <!-- Sixth dividing line -->
        <hr class="featurette-divider"> 
        <div class="row featurette">
            <div class="col-md-6 px-5">
                <h2 class="featurette-heading">Avance de muertes: <span class="text-muted">Por Contienente.</span></h2>
                <p class="lead">Grafico de linea temporal (semanal) que muestra el avance de casos de muertes total en el mundo por contienente.</p>
                <a type="button" class="btn btn-primary" href="#">Actualise</a>
            </div>
            <div class="col-md-5">
                <img src="https://ep01.epimg.net/elpais/imagenes/2020/12/31/album/1609428519_164409_1609506225_noticia_normal.jpg" alt="" width="500" height="300">
            </div>
        </div>
        
        <!-- Seventh dividing line -->
        <hr class="featurette-divider"> 
        <div class="row featurette">
            <div class="col-md-6 px-5">
                <h2 class="featurette-heading">Avances de Contagios vs Muertes: <span class="text-muted">Por Pais</span></h2>
                <p class="lead">Grafico de linea temporal (semanal) que muestra el avance de casos de contagio\muertes total por pais.</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div>
                    <p></p>
                    <a type="button" class="btn btn-primary" href="#">Actualise</a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="https://ep01.epimg.net/elpais/imagenes/2020/12/31/album/1609428519_164409_1609506225_noticia_normal.jpg" alt="" width="500" height="300">
            </div>
        </div>
        
        <hr class="featurette-divider">    
    </div>
    <!-- /END THE FEATURETTES -->
        
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>2020-2021 Inove School. &middot; <a href="https://inove.com.ar/">Website</a> &middot; <a href="https://inove.com.ar/desarrolladorpython/">Curso Python Developer</a></p>
    </footer>

</body>


</html>